<a href="https://colab.research.google.com/github/isr0127/BTE-320/blob/main/bte3201K_notes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print('hello')

hello

In [ ]:
1x = 2

SyntaxError: invalid decimal literal (ipython-input-2079796758.py, line 1)

This is a test

In [ ]:
interest = 3 # Interest rate (absolute value %)
principal = 3000
n = 1 # one year interest

final = principal * (1 + interest/100) ** n

print (final)

3090.0

In [ ]:
interst = 3 # interest rate (absolute vallue %)
principal = 3000
n = 1 # one year interest

final = principal * (1 + interest/100) ** n

print (final)

3090.0

In [ ]:
print(interest, principal)
print(final)

3 3000
3090.0

In [ ]:
1"\n"

SyntaxError: invalid syntax (ipython-input-3108897497.py, line 1)

In [ ]:
print("Interest rate:", interest, sep="=>")
print("Number of years:", n)

Interest rate:=>3
Number of years: 1

In [ ]:
print("Interest rate:", interest, end="---")
print("Number of years:", n, sep=" ")

Interest rate: 3---Number of years:1

In [ ]:
print("Interest rate:", interest, sep=">>>", end="$$$")
print("Number of years:", n)

Interest rate:>>>3$$$Number of years: 1

In [ ]:
print("Interest rate:", interest, "; Number of years", n)

Interest rate: 3 ; Number of years 1

In [ ]:
'''python
"......{}...{}...".format(a,b)

SyntaxError: incomplete input (ipython-input-1673406908.py, line 1)

In [ ]:
("Interest rate: {}; Number of years: {}". format(interest, n))

'Interest rate: 3; Number of years: 1'

In [ ]:
f".......{a}.....{b}"

NameError: name 'a' is not defined

In [ ]:
print(f"Interest rate: {interest}; Number of years: {n}")

Interest rate: 3; Number of years: 1

In [ ]:
interest = input("Enter interest value (%): ")
print(interest)

Enter interest value (%): 3
3

In [ ]:
if condition:
  exprs

In [37]:
email = "URGENT!!! Click on the link: www.phis.org and receive a reward!"
has_urgent = "URGENT"

if has_urgent in email:
  print("Phising!")

Phising!